:root {
  --back-color: #e7e5e4;
  --main-color: #1c1917;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--back-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 90vh;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  color: var(--back-color);
  cursor: pointer;
  margin-top: 1rem;
}

.main-header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--main-color);
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  height: 100%;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  background-color: aqua;
  padding: 1rem;
}

.projects h2 {
  border-bottom: 1px solid var(--main-color);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  padding: 3rem;
}

.form-container h2 {
  margin-bottom: 1rem;
}

.main-form {
  width: 75%rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.main-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.main-form input{
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.projects, .project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.todo {
  font-size: 1.5rem;
  cursor: pointer;
  font-style: italic;
}

.hidden {
  display: none;
}